russian {
    bindings = <
        &none         &none         &mo LANG      &mo EDIT      &mo HEXA      &none         &mmv MOVE_UP    &none         &mo HEXA      &mo EDIT      &mo LANG      &none         &none
        &kp SQT       &kp COMMA     &kp S         &kp J         &kp E         &kp M         &mmv MOVE_DOWN  &kp LBKT      &kp K         &kp L         &kp I         &kp D         &kp P
        &kp Z         &kp W         &kp B         &kp T         &kp F         &kp LS(SLASH) &mmv MOVE_LEFT  &kp SLASH     &kp RBKT      &kp N         &kp C         &kp Y         &kp SEMI
        &kp DOT       &kp U         &kp X         &kp Q         &kp R         &kp MINUS     &mmv MOVE_RIGHT &kp LS(7)     &kp H         &kp V         &kp A         &kp G         &kp O
        &kp C_MUTE    &soft_off     &bt BT_NXT    &kp RET       &kp SPACE     &kp BSPC      &mkp LCLK       &sl NUMS_RU   &sl SHFT_RU   &kp LC(BSPC) &rgb_ug RGB_EFF &rgb_ug RGB_TOG
    >;
    display-name = "home RU";
};

russian_shift {
    bindings = <
        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans
        &kp DQT       &kp LT        &kp LS(S)     &kp LS(J)     &kp LS(E)     &kp LS(M)     &trans        &kp LBRC      &kp LS(K)     &kp LS(L)     &kp LS(I)     &kp LS(D)     &kp LS(P)
        &kp LS(Z)     &kp LS(W)     &kp LS(B)     &kp LS(T)     &kp LS(F)     &kp RG(2)     &trans        &kp RG(3)     &kp RBKT      &kp LS(N)     &kp LS(C)     &kp LS(Y)     &kp COLON
        &kp GT        &kp LS(U)     &kp LS(X)     &kp LS(Q)     &kp LS(R)     &kp RG(MINUS) &trans        &kp RG(DOT)   &kp LS(H)     &kp LS(V)     &kp LS(A)     &kp LS(G)     &kp LS(O)
        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans
    >;
    display-name = "shft RU";
};

russian_number {
    bindings = <
        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans
        &kp GRAVE     &kp PRCNT     &kp N6        &kp N8        &kp SLASH     &kp LBKT      &trans        &kp RBKT      &kp SPACE     &kp N9        &kp N7        &kp PLUS      &kp TILDE
        &kp DLLR      &kp EQUAL     &kp N4        &kp N1        &kp N2        &kp LPAR      &trans        &kp RPAR      &kp N3        &kp N0        &kp N5        &kp MINUS     &kp EXCL
        &kp RG(APOS)  &kp DLLR      &kp RG(EQUAL) &kp RG(R)     &kp SLASH     &kp LBRC      &trans        &kp RBRC      &kp ASTRK     &kp LT        &kp GT        &kp CARET     &kp HASH
        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans        &trans
    >;
    display-name = "nums RU";
};
